rss_feed_n8n_assignment/rss_feed.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "670ae3a1-a804-49ce-9b6d-4ad12202f149",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/frontpage",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "877771ae-7c6f-4b93-968a-5c40580f66a3",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18qP9teH_lupXbqhAD2iMNYJWFtZN67Xon1-Xjv1_7sY",
          "mode": "list",
          "cachedResultName": "RSS_ARTICLES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18qP9teH_lupXbqhAD2iMNYJWFtZN67Xon1-Xjv1_7sY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18qP9teH_lupXbqhAD2iMNYJWFtZN67Xon1-Xjv1_7sY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "{{$json[\"title\"]}}",
            "URL": "{{$json[\"link\"]}}",
            "Date": "{{$json[\"pubDate\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "80481117-ddaa-459d-8705-978c5d8c1589",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gDGlub3JxuFuVFQO",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "537f6193-f242-4e35-ab86-4e99267188e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c597b8dc9702686400f1654e887b729f10feb728a0997fbd2e357b1f1041f203"
  },
  "id": "m3y88RzDkJrYSBnu",
  "tags": []
}