n8n/Workflow.json
{
  "name": "testing_gmail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "11ffaa1d-d21a-4d1a-b2b0-b8f2e9a9d92f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "OzUCuaw5BkOklTK1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        0
      ],
      "id": "28230c8d-1c74-470f-a236-169fbafcf1eb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        192
      ],
      "id": "0785d8b4-3df5-41c4-b096-bd2950abea56",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xdSNLO42pHa7yx4a",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dshaunangel@gmail.com",
        "subject": "hellow",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        0
      ],
      "id": "f44eba68-e173-4fe1-b873-5d11d6b905c8",
      "name": "Send a message",
      "webhookId": "49ccff3d-76e8-497a-8a30-a8be29a52a87",
      "credentials": {
        "gmailOAuth2": {
          "id": "OzUCuaw5BkOklTK1",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "163e5e6b-7eb9-428f-bf13-216f2247c99b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b0822d42ae6f221478b38ab818588b468af87d6ca1a58c2b3751a12af5f434f"
  },
  "id": "1FZjYtrLZRR4geA0",
  "tags": []
}