meet_classroom/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a9dd8242-ea15-45a3-a2bd-c9599fd10db5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://classroom.googleapis.com/v1/courses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "courseStates",
              "value": "ACTIVE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "a5b2e978-863d-4d79-a0d2-d22de06cbcad",
      "name": "HTTP Request",
      "credentials": {
        "googleOAuth2Api": {
          "id": "ubRII6s0MMS1cr9I",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://meet.googleapis.com/v2/spaces",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"config\": {\n    \"accessType\": \"OPEN\"\n  }\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "61f7edbd-8d01-4f9e-9ee2-6c93a642d622",
      "name": "HTTP Request1",
      "credentials": {
        "googleOAuth2Api": {
          "id": "xvGZZTJJ05RNNIbm",
          "name": "Google account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://classroom.googleapis.com/v1/courses/822195896494/announcements",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"text\": \"={{$json[\"text\"]}}\",\n  \"state\": \"PUBLISHED\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        0
      ],
      "id": "d0d518e5-9d73-4723-bde2-d307e4828649",
      "name": "HTTP Request3",
      "credentials": {
        "googleOAuth2Api": {
          "id": "1i4SYz2rwbZKjpgV",
          "name": "Google account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a short, friendly, and professional announcement for my class. \nInclude this Google Meet link for the session: {{$json[\"meetingUri\"]}} \nKeep it under 2 sentences and sound inviting.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        624,
        0
      ],
      "id": "96c4c462-c627-4f53-9876-6f30a0e61687",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        224
      ],
      "id": "94d55009-a058-4045-ac94-2bc265387854",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SafY6O4yaiOhFotv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a39808f-fbab-40c9-baba-1f34e3ec233f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969a404a4f541e4c2a80af051590b7e8f963c9c28a7ff6559cc4b183a758161e"
  },
  "id": "1ovkNglxmYRKGjYB",
  "tags": []
}